/*==========================================================================
  Typography
==========================================================================*/

$body-font: "open_sansregular", serif;

html {
  font-size: 100.01%;
}

body {
  font: $font-size-base + px/1.41 $body-font;
  color: $text-color-base;
  -webkit-font-smoothing: antialiased;
}