.filter.filter_fixed-bottom-bar
  -
    var btns = [
      {
        title: 'Все',
        category: ''
      },
      {
        title: 'Природа',
        category: 'nature'
      },{
        title: 'Города',
        category: 'cities'
      },{
        title: 'Еда',
        category: 'food'
      }
    ];

  each btn in btns
    if btn.category
      button.btn.filter__btn(type="button" data-filter= `.${btn.category}`)
        span.btn__text= btn.title
    else
      button.btn.filter__btn.btn_active(type="button")
          span.btn__text= btn.title