ul.gallery
  -
    var items = [
      {
        thumb: 'assets/img/gallery/thumbs/1.jpg',
        lg: 'assets/img/gallery/lg/1.jpg',
        category: 'nature'
      },{
        thumb: 'assets/img/gallery/thumbs/2.jpg',
        lg: 'assets/img/gallery/lg/2.jpg',
        category: 'nature'
      },{
        thumb: 'assets/img/gallery/thumbs/3.jpg',
        lg: 'assets/img/gallery/lg/3.jpg',
        category: 'nature'
      },{
        thumb: 'assets/img/gallery/thumbs/4.jpg',
        lg: 'assets/img/gallery/lg/4.jpg',
        category: 'cities'
      },{
        thumb: 'assets/img/gallery/thumbs/5.jpg',
        lg: 'assets/img/gallery/lg/5.jpg',
        category: 'nature'
      },{
        thumb: 'assets/img/gallery/thumbs/6.jpg',
        lg: 'assets/img/gallery/lg/6.jpg',
        category: 'cities'
      },{
        thumb: 'assets/img/gallery/thumbs/7.jpg',
        lg: 'assets/img/gallery/lg/7.jpg',
        category: 'cities'
      },{
        thumb: 'assets/img/gallery/thumbs/8.jpg',
        lg: 'assets/img/gallery/lg/8.jpg',
        category: 'cities'
      },{
        thumb: 'assets/img/gallery/thumbs/9.jpg',
        lg: 'assets/img/gallery/lg/9.jpg',
        category: 'nature'
      },{
        thumb: 'assets/img/gallery/thumbs/10.jpg',
        lg: 'assets/img/gallery/lg/10.jpg',
        category: 'people'
      },{
        thumb: 'assets/img/gallery/thumbs/11.jpg',
        lg: 'assets/img/gallery/lg/11.jpg',
        category: 'people'
      },{
        thumb: 'assets/img/gallery/thumbs/12.jpg',
        lg: 'assets/img/gallery/lg/12.jpg',
        category: 'people'
      },{
        thumb: 'assets/img/gallery/thumbs/13.jpg',
        lg: 'assets/img/gallery/lg/13.jpg',
        category: 'people'
      },{
        thumb: 'assets/img/gallery/thumbs/14.jpg',
        lg: 'assets/img/gallery/lg/14.jpg',
        category: 'people'
      },{
        thumb: 'assets/img/gallery/thumbs/15.jpg',
        lg: 'assets/img/gallery/lg/15.jpg',
        category: 'cities'
      },{
        thumb: 'assets/img/gallery/thumbs/16.jpg',
        lg: 'assets/img/gallery/lg/16.jpg',
        category: 'cities'
      },{
        thumb: 'assets/img/gallery/thumbs/17.jpg',
        lg: 'assets/img/gallery/lg/17.jpg',
        category: 'people'
      },{
        thumb: 'assets/img/gallery/thumbs/18.jpg',
        lg: 'assets/img/gallery/lg/18.jpg',
        category: 'cities'
      },{
        thumb: 'assets/img/gallery/thumbs/19.jpg',
        lg: 'assets/img/gallery/lg/19.jpg',
        category: 'people'
      },{
        thumb: 'assets/img/gallery/thumbs/20.jpg',
        lg: 'assets/img/gallery/lg/20.jpg',
        category: 'people'
      },{
        thumb: 'assets/img/gallery/thumbs/21.jpg',
        lg: 'assets/img/gallery/lg/21.jpg',
        category: 'people'
      },{
        thumb: 'assets/img/gallery/thumbs/22.jpg',
        lg: 'assets/img/gallery/lg/22.jpg',
        category: 'nature'
      },{
        thumb: 'assets/img/gallery/thumbs/23.jpg',
        lg: 'assets/img/gallery/lg/23.jpg',
        category: 'cities'
      },{
        thumb: 'assets/img/gallery/thumbs/24.jpg',
        lg: 'assets/img/gallery/lg/24.jpg',
        category: 'people'
      },{
        thumb: 'assets/img/gallery/thumbs/25.jpg',
        lg: 'assets/img/gallery/lg/25.jpg',
        category: 'nature'
      },{
        thumb: 'assets/img/gallery/thumbs/26.jpg',
        lg: 'assets/img/gallery/lg/26.jpg',
        category: 'nature'
      },{
        thumb: 'assets/img/gallery/thumbs/27.jpg',
        lg: 'assets/img/gallery/lg/27.jpg',
        category: 'nature'
      },{
        thumb: 'assets/img/gallery/thumbs/28.jpg',
        lg: 'assets/img/gallery/lg/28.jpg',
        category: 'people'
      },{
        thumb: 'assets/img/gallery/thumbs/29.jpg',
        lg: 'assets/img/gallery/lg/29.jpg',
        category: 'people'
      },{
        thumb: 'assets/img/gallery/thumbs/30.jpg',
        lg: 'assets/img/gallery/lg/30.jpg',
        category: 'people'
      },{
        thumb: 'assets/img/gallery/thumbs/31.jpg',
        lg: 'assets/img/gallery/lg/31.jpg',
        category: 'nature'
      },{
        thumb: 'assets/img/gallery/thumbs/32.jpg',
        lg: 'assets/img/gallery/lg/32.jpg',
        category: 'cities'
      },{
        thumb: 'assets/img/gallery/thumbs/33.jpg',
        lg: 'assets/img/gallery/lg/33.jpg',
        category: 'cities'
      },{
        thumb: 'assets/img/gallery/thumbs/34.jpg',
        lg: 'assets/img/gallery/lg/34.jpg',
        category: 'cities'
      },{
        thumb: 'assets/img/gallery/thumbs/35.jpg',
        lg: 'assets/img/gallery/lg/35.jpg',
        category: 'people'
      },{
        thumb: 'assets/img/gallery/thumbs/36.jpg',
        lg: 'assets/img/gallery/lg/36.jpg',
        category: 'people'
      },{
        thumb: 'assets/img/gallery/thumbs/37.jpg',
        lg: 'assets/img/gallery/lg/37.jpg',
        category: 'nature'
      },{
        thumb: 'assets/img/gallery/thumbs/38.jpg',
        lg: 'assets/img/gallery/lg/38.jpg',
        category: 'cities'
      },{
        thumb: 'assets/img/gallery/thumbs/39.jpg',
        lg: 'assets/img/gallery/lg/39.jpg',
        category: 'nature'
      },{
        thumb: 'assets/img/gallery/thumbs/40.jpg',
        lg: 'assets/img/gallery/lg/40.jpg',
        category: 'nature'
      },{
        thumb: 'assets/img/gallery/thumbs/41.jpg',
        lg: 'assets/img/gallery/lg/41.jpg',
        category: 'cities'
      },{
        thumb: 'assets/img/gallery/thumbs/42.jpg',
        lg: 'assets/img/gallery/lg/42.jpg',
        category: 'cities'
      },{
        thumb: 'assets/img/gallery/thumbs/43.jpg',
        lg: 'assets/img/gallery/lg/43.jpg',
        category: 'people'
      },{
        thumb: 'assets/img/gallery/thumbs/44.jpg',
        lg: 'assets/img/gallery/lg/44.jpg',
        category: 'cities'
      },{
        thumb: 'assets/img/gallery/thumbs/45.jpg',
        lg: 'assets/img/gallery/lg/45.jpg',
        category: 'nature'
      },{
        thumb: 'assets/img/gallery/thumbs/46.jpg',
        lg: 'assets/img/gallery/lg/46.jpg',
        category: 'nature'
      },{
        thumb: 'assets/img/gallery/thumbs/47.jpg',
        lg: 'assets/img/gallery/lg/47.jpg',
        category: 'nature'
      },{
        thumb: 'assets/img/gallery/thumbs/48.jpg',
        lg: 'assets/img/gallery/lg/48.jpg',
        category: 'cities'
      },{
        thumb: 'assets/img/gallery/thumbs/49.jpg',
        lg: 'assets/img/gallery/lg/49.jpg',
        category: 'cities'
      },{
        thumb: 'assets/img/gallery/thumbs/50.jpg',
        lg: 'assets/img/gallery/lg/50.jpg',
        category: 'nature'
      },{
        thumb: 'assets/img/gallery/thumbs/51.jpg',
        lg: 'assets/img/gallery/lg/51.jpg',
        category: 'people'
      },{
        thumb: 'assets/img/gallery/thumbs/52.jpg',
        lg: 'assets/img/gallery/lg/52.jpg',
        category: 'people'
      },{
        thumb: 'assets/img/gallery/thumbs/53.jpg',
        lg: 'assets/img/gallery/lg/53.jpg',
        category: 'nature'
      }
    ];

  each item in items
    li.gallery__item(class= item.category)
      a.gallery__item-link(href= item.lg)
        img.gallery__item-img(src="assets/img/dummy.png" data-original= item.thumb, alt="")