ul#gallery.gallery
  -
    var items = [
      {
        src: 'assets/img/gallery/1.jpg'
      },
      {
        src: 'assets/img/gallery/2.jpg'
      },
      {
        src: 'assets/img/gallery/3.jpg'
      },
      {
        src: 'assets/img/gallery/4.jpg'
      },
      {
        src: 'assets/img/gallery/5.jpg'
      },
      {
        src: 'assets/img/gallery/6.jpg'
      },
      {
        src: 'assets/img/gallery/7.jpg'
      },
      {
        src: 'assets/img/gallery/8.jpg'
      },
      {
        src: 'assets/img/gallery/9.jpg'
      },
      {
        src: 'assets/img/gallery/10.jpg'
      },
      {
        src: 'assets/img/gallery/1.jpg'
      },
      {
        src: 'assets/img/gallery/2.jpg'
      },
      {
        src: 'assets/img/gallery/3.jpg'
      },
      {
        src: 'assets/img/gallery/4.jpg'
      },
      {
        src: 'assets/img/gallery/5.jpg'
      },
      {
        src: 'assets/img/gallery/6.jpg'
      },
      {
        src: 'assets/img/gallery/7.jpg'
      },
      {
        src: 'assets/img/gallery/8.jpg'
      },
      {
        src: 'assets/img/gallery/9.jpg'
      },
      {
        src: 'assets/img/gallery/10.jpg'
      }
    ];

  each item in items
    li.gallery__item
      a.gallery__item-link(href= item.src)
        img.gallery__img(src= item.src, alt="")