aside#sidebar.sidebar.sidebar_open
  button(type="button" title="меню").sidebar__toggle.hamburger
    span.hamburger__item

  .sidebar__content
    .user
      .user__avatar.avatar
        img.avatar__img(src="assets/img/jane.jpg" alt="Jane Doe")
      h1.user__name Jane Doe
      .user__info
        p Фотограф, дизайнер, иллюстратор