/*================================================================
   btn
================================================================*/

$text-color: rgba($text-color-light, .5);

$active-color: $theme-color;
$active-text-color: rgba($text-color-light, 1);

$duration: .25s;

.btn {
  padding: em(5) em(15);
  border: 1px solid $text-color;
  font-size: em(14);
  color: $text-color;
  letter-spacing: em(1);
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: all $duration;

  &:hover,
  &:focus {
    border-color: lighten($active-color, 5%);
    color: $active-text-color;
    background-color: lighten($active-color, 5%);
  }
}

.btn_primary {
  background-color: $theme-color;
  border-color: $theme-color;
}

.btn_active {
  border-color: $active-color;
  color: $active-text-color;
  background-color: $active-color;
}

.btn_md {
  padding: em(10) em(20);
  font-size: 1rem;
  color: $text-color-light;
}