/*================================================================
   filter
================================================================*/

.filter {
  padding-top: rem(13);
  color: $text-color-light;
}

.filter__btn {
  margin-bottom: em(15);
  margin-left: em(3);
}

/*================================================================
   filter_text-right
================================================================*/

.filter_text-right {
  text-align: right;
}