/*================================================================
   main
================================================================*/

.main {
  position: relative;
  padding: 5px;
  margin-left: $sidebar-close-width;
}