/*================================================================
   page
================================================================*/

.page {
  overflow-x: hidden;
  background-color: #181818;
}

/*================================================================
   page_overflow-hidden
================================================================*/

.page_overflow-hidden {
  overflow: hidden;
}