/*================================================================
   page
================================================================*/

$bg-color-dark: #181818;
$bg-color-light: #fafafa;

.page {
  overflow-x: hidden;
  background-color: $bg-color-dark;
}

.page_light {
  background-color: $bg-color-light;
}

/*================================================================
   page_overflow-hidden
================================================================*/

.page_overflow-hidden {
  overflow: hidden;
}