/*================================================================
   sidebar
================================================================*/

$duration: .5s;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 50px;
  height: 100%;
  color: #fff;
  background-color: #111;
  transition: all $duration;
}

.sidebar__toggle {
  position: absolute;
  top: 0;
  right: 0;
}

.sidebar_open {
  width: $sidebar-width;
}

.sidebar__content {
  position: absolute;
  top: 70px;
  left: 0px;
  width: 100%;
}