/*================================================================
   sidebar
================================================================*/

$duration: .5s;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: $sidebar-close-width;
  height: 100%;
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  background-color: #111;
  outline: none;
  transition: all $duration;
}

.sidebar__toggle {
  position: absolute;
  top: 0;
  right: 0;
}

.sidebar__content {
  position: absolute;
  top: 50px;
  width: 100%;
  padding: 20px 0;
}

.sidebar__menu {
  margin-top: -110px;
  transition: margin-top $duration;
}

/*================================================================
   sidebar_open
================================================================*/

.sidebar_open {
  width: $sidebar-open-width;

  .sidebar__menu {
    margin-top: 40px;
  }
}