/*================================================================
   user
================================================================*/

$duration: .25s;
$timing-function: linear;

.user {
  text-align: center;
  opacity: 1;
  visibility: visible;
  transition: opacity $duration $timing-function $duration, visibility 0s 0s;
}

.user__avatar {
  margin-bottom: em(20);
}

.user__name {
  margin-top: 0;
  margin-bottom: em(10);
  font-size: em(16);
  @include open-sans();
}

.user__info {
  font-size: 12px;
  @include open-sans(light);

  p {
    margin-top: em(5);
    margin-bottom: 0;
    opacity: .4;
  }
}

/*================================================================
   user_nowrap
================================================================*/

.user_nowrap {
  white-space: nowrap;
}

/*================================================================
   user_hidden
================================================================*/

.user_hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity $duration $timing-function 0s, visibility 0s $duration;
}