extend ../_template-light

block title
  | Photos


block content
  include ../blocks/sidebar
  main.main
    .content
      header.content__header
        h2.content__title Обратная связь
        p.content__subtitle Свяжитесь со мной одним из следующих способов
      .content__body
        .content__col
          include ../blocks/contacts-list
        .content__col
          include ../blocks/feedback

block script
  script(src="assets/js/contacts.js")