extend ../_template-en

block title
  | Photos


block content
  include ../blocks/preloader
  include ../blocks/sidebar
  main.main
    include ../blocks/gallery
  include ../blocks/bottom-bar

block script
  script(src="assets/js/index.js")