extend ../_template-en

block title
  | Photos


block content
  include ../blocks/sidebar
  main.main
    include ../blocks/gallery
  include ../blocks/filter

block script
  script(src="assets/js/app.js")