extend ../_template-ru

block title
  | Photos


block content
  include ../blocks/preloader
  include ../blocks/sidebar
  include ../blocks/bottom-bar
  main.main
    include ../blocks/gallery

block script
  script(src="assets/js/index.js")